body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-image: url('../Test-intership/images/—Pngtree—creative\ blue\ black\ banner\ background_1188686.jpg');
            color: white;
            text-align: center;
        }
        .content {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        a {
            color: #0a7cf7;
            text-decoration: none;
        }

        a:hover {
            color: #08509c;
            text-decoration: underline;
        }
        .result-image {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
}
