* {
    box-sizing: border-box;
    padding: 0;
    --c1: red;
    --c2: orange;
    --c3: yellow;
    --c4: green;
    --c5: blue;
    --c6:#22385b;
}

.guage-speedometer {
    width: 200px;
    height: 200px;
    padding: 35px;
    border-radius: 50%;
    background: 
    radial-gradient(#22385b 0 0) content-box,
    conic-gradient(
        from -111deg, 
        var(--c1) 45deg,
        var(--c2) 45deg 90deg,
        var(--c3) 90deg 135deg,
        var(--c4) 135deg 180deg,
        var(--c5) 180deg 225deg,
        var(--c6) 225deg 360deg
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0;
    overflow: visible; 
}


.guage-needle {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-in-out;
    border-radius: 50%;
    background: radial-gradient(yellow 54%, #ccc 55%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guage-needle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 70px solid #fcf803;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
}


.guage-score {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    z-index: 10;
    transform: rotate(calc(var(--score) * 180deg / 100 - 90deg));
    pointer-events: none;
}

.guage-label {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    transform-origin: center center;
    width: 100%;
    text-align: center;
    z-index: 5;
}

.guage-label:nth-child(1) { transform: rotate(-90deg) translateX(10px) translateY(-120px); }
.guage-label:nth-child(2) { transform: rotate(-50deg) translateX(10px) translateY(-120px); }
.guage-label:nth-child(3) { transform: rotate(0deg) translateX(5px) translateY(-120px); }
.guage-label:nth-child(4) { transform: rotate(45deg) translateX(20px) translateY(-120px); }
.guage-label:nth-child(5) { transform: rotate(90deg) translateX(10px) translateY(-120px); }

